body{
    padding: 25px;
}
table {
    border-collapse: collapse;
    /* Убираем двойные линии */
    width: 500px;
    /* Ширина таблицы */
}

td {
    border: 1px solid #333;
    /* Параметры границ */
    padding: 4px;
    /* Поля в ячейках */
    text-align: center;
    /* Выравнивание по центру */
}

td.header {
    font-size: 16px;
    font-weight: 700;
    background-color: #c4cdd1c1;
}
th {
    text-align: center;
}
